/* CSS VARIABLES */
:root {
    --clr-text: hsla(251, 18%, 12%, 1);
    --clr-background: hsla(221, 39%, 11%, 1);
    --clr-neutral: hsla(0, 0%, 100%, 1);
    --clr-neutral-black: hsla(0, 0%, 0%, 1);
    --clr-primary: hsla(202, 88%, 55%, 1);
    --clr-secondary: hsla(249, 16%, 30%, 1);
    --clr-accent: hsla(202, 74%, 6%, 1);

    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;

    --ff-body: var(--ff-primary);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-500: 0.875rem;
    --fs-600: 1.25rem;
    --fs-700: 1.375rem;
    --fs-800: 1.563rem;
    --fs-900: 2rem;

    --fs-body: var(--fs-500);
    --fs-heading: var(--fs-800);
    --fs-heading-2: var(--fs-700);
}

/* GENERAL STYLING */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    background-color: var(--clr-background);
}

.container {
    padding: 2rem;
}

/* HERO WRAPPER */
.hero--wrapper {
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;
}

.hero--title {
    font-family: var(--ff-secondary);
    color: var(--clr-neutral);
    font-size: clamp(var(--fs-600), -1.027rem + 8.649vw, var(--fs-900));
    margin: 0 0 1rem 0;

}

/* ENDORSEMENT FORM */ 
.endorsement--form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "endorsement-post-content endorsement-post-content"
    "input-from input-to"
    "input-publish input-publish"
    ;
    gap: 0.5rem;
}

.endorsement--form input:not(:last-child) {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: 0.5rem;

        &:focus {
            outline: solid 2px var(--clr-primary);
        }
}

.endorsement-post-content {
    grid-area: endorsement-post-content;
    padding: 0.5rem 0.7rem 5rem 0.7rem;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: 0.5rem;

        &:focus {
            outline: solid 2px var(--clr-primary);
        }
}

.input-from {
    grid-area: input-from;
    padding: 0.5rem;
    text-align: center;
}

.input-to {
    grid-area: input-to;
    padding: 0.5rem;
    text-align: center;
}

.input-publish {
    grid-area: input-publish;
    padding: 0.8rem;
    background-color: var(--clr-primary);
    border-radius: 0.5rem;
    border: none;
    color: var(--clr-background);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);

        &:hover {
            background-color: hsla(202, 88%, 60%, 1);
            cursor: pointer;
            box-shadow: hsla(202, 88%, 55%, 0.1) 0px 10px 50px;
        }
}

/* ENDORSEMENTS POSTS */
h2 {
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: clamp(var(--fs-600), -1.027rem + 8.649vw, var(--fs-800));
    color: var(--clr-neutral);
    margin: 0.7rem 0;
}

.endorsement--post {
    background-color: var(--clr-neutral);
    padding: 1rem;
    display: grid;
    max-width: 565px;
    gap: 0.7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "post-to post-to"
    "post-content post-content"
    "post-from post-heart";
    margin: 0 auto 1rem auto;
    position: relative;
}

.endorsement--post span {
    font-weight: var(--fw-bold);
    color: var(--clr-background);
}

.post-to {
    grid-area: post-to;
}

.post-from {
    grid-area: post-from;
}

.post-heart {
    grid-area: post-heart;
    text-align: end;
}

.post-content {
    grid-area: post-content;
    text-align: justify;
    line-height: 1.3;
    overflow-wrap: break-word;
}

.like-icon {
    margin: 0 0.7rem 0 0;
        
        &:hover {
            cursor: pointer;
        }
}

.liked {
    color: red;
}

.like-count {
    position: absolute;
    right: 16px;
}

@media screen and (min-width: 1145px) {
    .endorsement--posts {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .endorsement--post {
        max-width: 540px;
        margin: 0;
    }
}